@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

body {
    /*font-family: var(--font-sans);*/
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
}